button {
  margin-inline: 3%;
  margin-block: 5px;
  border-radius: 15px;
}

a {
  font-family: "Vollkorn", sans-serif;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 1s;
  color: green;
}

a:hover {
  background-color: rgba(225, 255, 0, 0.419);
  border-radius: 15px;
}

header {
  background-color: #7b9a1b;
  border-radius: 20px;
}

.informacion {
  display: inline-grid;
  justify-items: center;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Vollkorn", sans-serif;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: "Vollkorn";
  font-size: 25px;
  font-weight: 100;
  margin-top: 0;
  background-color: #95bb20ad;
  border-radius: 20px 20px;
}

.subtitulo {
  font-size: 19px !important;
}
.titulo{
  width: 28%;
}

h3 {
  text-align: center;
  font-family: "Vollkorn", sans-serif;
  background-color: aliceblue;
  border-radius: 20px;
  font-weight: 100;
  font-size: 20px;
  width: 50%;
}

ul {
  font-family: "Vollkorn";
}

li {
  font-family: "Vollkorn";
  font-size: 17px;
  line-height: 140%;
}

#lista-rec {
  font-size: 13.5px;
  font-style: normal;
  line-height: 150%;
}

p {
  text-align: center;
  background-color: #d3eaff;
  font-family: "Vollkorn";
  font-size: 20px;
}

.seccion {
  background-color: #83aaa9;
  text-align: center;
  border-radius: 20px;
  margin-block: 20px;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
}

.contenedor2 {
  display: flex;
  justify-content: space-evenly;
}

.seccion2 {
  background-color: #83aaa9;
  text-align: center;
  border-radius: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.contenido {
  height: 50%;
  width: 50%;
  margin-block: 10px;
  border-radius: 20px;
}

img.reciclaje {
  /*height: 25%;*/
  width: 25%;
  margin-block: 10px;
  border-radius: 20px;
}

.descripcion-con-imagen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  font-weight: 100;
  font-size: 15px;
  /*width: 50%;*/
}

p.reciclable-descripcion {
  text-align: justify;
  line-height: 20px;
  background-color: rgb(255, 255, 255);
  font-family: "Vollkorn";
  font-size: 15px;
}
p.raee-descripcion {
  text-align: justify;
  line-height: 20px;
  background-color: rgb(255, 255, 255);
  font-family: "Vollkorn";
  font-size: 15px;
}

h4 {
  text-align: center;
  font-family: "Vollkorn", sans-serif;
  background-color: #bed9f1;
  border-radius: 20px 20px;
  font-weight: 100;
  font-size: 18px;
  width: 50%;
  margin: 0;
}

footer {
  background-color: #b2daffa8;
  border-radius: 20px 20px;
  padding: 1%;
}

#text-footer {
  text-align: center;
  font-family: "Vollkorn", sans-serif;
  background-color: rgb(255 255 255 / 0%);
  font-size: 14px;
}

#comentarios {
  width: 50%;
  height: 80px;
}

.nav-reciclable {
  text-align: center;
}

fieldset {
  font-family: 'Vollkorn';
  font-size: 13.5px;
  border-radius: 30px;
  border-style: dashed;
  border-width: 4px;
  text-align: center;
} 

legend {
  text-align: center;
}

input#comentarios {
  border-radius: 20px;
  font-family: 'Vollkorn';
  font-size: 14px;
}